#root {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
.contenedor{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.contenido{
  display: flex;
  justify-content: space-between;
  gap: 4em;
}
spam{
  font-weight: bold;
}
.space{
  --size: 1px;
  width: var(--size);
  height: var(--size);
  background: #fff;
  box-shadow: var(--space-layer);
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 75%;
  animation: moveStars var(--duration, 20s) linear infinite;
}

@keyframes moveStars {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh);}
}