.productos{
    width: 100%;
}
.productos ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
    }
    gap: 1rem;
}
.productos li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: rgb(19, 19, 19);
}
.productos h3{
    margin: 0;
}
.productos img{
    border-radius: 40px;
}
.productos button{
    transition: background-color 0.5s;
    &:hover{
        background-color: rgb(141, 141, 141);
    }
}
#root{
    text-align: center;
}